<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
  </head>
  <body>
    <h1></h1>
    <p>As part of Kode With Klossy Boston 2018, students Jack Bethea, Izzy Conner, Eliza Taylor, and Siara Small created this website.</p>
  </body>
</html>